.input-group>.form-floating:not(:first-child)>.form-control, .input-group>.form-floating:not(:first-child)>.form-select {
    border-radius: 7px;
}

td,th{
    border: 2px solid gray;
    height: 50px;
}
td:nth-child(1){
    width: 28%;
}
td:nth-child(2){
    width: 40%;
}
td:nth-child(3){
    width: 32%;
}


